.page-section{
	padding: 1.2rem 0;

	@include atMedium(){
		padding: 4.5rem 0;
	} 

	&--no-b-padding-until-medium{
		padding-bottom: 0;

		@include atMedium(){
			padding-bottom: 4.5rem;

		}
	}

	&--no-b-padding-until-large{
		padding-bottom: 0;

		@include atMedium(){
			padding-bottom: 4.5rem;

		}
	}

	&--blue{
		background-color: blue;
		color: #fff;
	}

	&--testimonials{
		background: #e0e6ef;
		
		// @include atMedium(){
			
		// 	&.lazyloaded {
		// 		background: url('../../assets/images/testimonials-bg.jpg') top center no-repeat;
		// 		background-size: cover;
		// 	}
		// }
	}
}